

}
section {
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}

.Christian {
    background-color: lightcoral;
    border-style: solid;
    border-color: white;
    border-width: thick;
    border-radius: 5%
}